<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--把数据库字段的下划线去掉，下划线后面的单词首字母大写-->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
</configuration>